menu "WiFi configuration"
    config WIFI_SSID
        string "WiFi SSID"
        default "<WIFI_SSID>"
        help
            Name of the WiFi network to connect to

    config WIFI_PASSWORD
        string "WiFi Password"
        default "<WIFI_PASSWORD>"
        help
            Password of the WiFi network to connect to
    
    config WIFI_MAXIMUM_RETRY
        int "WiFi maximum connection retries"
        default 10
        help
            Maximum number of retries to connect to the WiFi network
endmenu

menu "MQTT configuration"
    config BROKER_URL
        string "MQTT broker URL"
        default "mqtt://waspbrain.es"
        help
            URL of the mqtt broker to connect to

    config BROKER_PORT
        int "MQTT broker port"
        range 0 16384
        default 1886
        help
            Port to connect to

    config MQTT_USERNAME
        string "Username for the MQTT server"
        default "<MQTT_USERNAME>"
        help
            Username for the MQTT server
    
    config MQTT_PASSWORD
        string "Password for the MQTT server"
        default "<MQTT_PASSWORD>"
        help
            Password for the MQTT server

    config MQTT_TOPIC
        string "MQTT topic to publish to"
        default "/topic/qos0"
        help
            name of the mqtt topic to publish to
endmenu
