menu "LIDAR Configuration"
    config LIDAR_EN
        int "GPIO output to enable/disable LIDAR"
        default 17

    config UART2_BAUD_RATE
        int "UART2 communication speed"
        range 1200 115200
        default 115200
        help
            UART2 communication speed for LIDAR.

    config UART2_RXD
        int "UART RXD pin number"
        default 18
        help
            GPIO number for UART RX pin. It's fixed, do NOT change this unless you modify the robot board!

    config TASK_STACK_SIZE
        int "UART task stack size"
        range 1024 16384
        default 2048
        help
            Defines stack size for UART. Insufficient stack size can cause crash.        

endmenu